---
import { testimonial } from  "./mockProduct.json"
import Rating from "../../components/Rating.vue";
import Testimony from "../../components/products/Testimony.astro";
---
<!-- Container for demo purpose -->
  <section class="mb-40">
    <div class="px-6 py-12 md:px-12 bg-gray-50 text-gray-800 lg:text-left">
      <div class="container mx-auto xl:px-32">
        <h2 class="text-center mb-8 text-2xl font-bold underline">Testimonial</h2>
        <div class="grid md:grid-cols-2 gap-12 flex items-center justify-center">
          <div class="justify-self-end md:w-full max-w-xs mb-2 md:mb-0 ali">
            <img
              src={testimonial.img}
              class="w-full rounded-lg shadow-lg"
              alt=""
            />
          </div>
          <div class="justify-self-start md:w-full max-w-xs mt-2 md:mt-0">
            <p class="font-bold text-xl mb-2">{testimonial.product}</p>
            <Testimony content={testimonial.content} user={testimonial.user} rating={testimonial.rating} />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
<!-- Container for demo purpose -->